# Task 3 ( Team)

### Team: (20 pts)
- Create a team notebook to read in the COVID-19 data (cases, deaths, and population) using pandas and display the dataframe in a notebook.
- Merge all the three variables (cases, deaths, and population) to create a super COVID-19 datafame. Export it to a csv format.

Importing pandas library to read and merge csv files

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Reading cases csv file and displaying the cases dataframe

In [2]:
covid_cases = pd.read_csv("../../../data/Stage_1/covid_confirmed_usafacts.csv")
covid_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12394,12394,12430,12430,12430,12437,12437,12437,12437,12437
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11997,11997,12035,12035,12035,12045,12045,12045,12045,12045
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6303,6303,6318,6318,6318,6333,6333,6333,6333,6333
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2717,2717,2727,2727,2727,2731,2731,2731,2731,2731
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1876,1876,1880,1880,1880,1881,1881,1881,1881,1881

In [3]:
covid_cases = covid_cases[covid_cases['County Name'] != 'Statewide Unallocated']
covid_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,17952,17952,17952,17952,17952,18057,18057,18057,18057,18057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12394,12394,12430,12430,12430,12437,12437,12437,12437,12437
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11997,11997,12035,12035,12035,12045,12045,12045,12045,12045
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6303,6303,6318,6318,6318,6333,6333,6333,6333,6333
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2717,2717,2727,2727,2727,2731,2731,2731,2731,2731
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1876,1876,1880,1880,1880,1881,1881,1881,1881,1881

In [4]:
covid_cases['County Name'] = covid_cases['County Name'].str.strip()
covid_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,17952,17952,17952,17952,17952,18057,18057,18057,18057,18057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12394,12394,12430,12430,12430,12437,12437,12437,12437,12437
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11997,11997,12035,12035,12035,12045,12045,12045,12045,12045
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6303,6303,6318,6318,6318,6333,6333,6333,6333,6333
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2717,2717,2727,2727,2727,2731,2731,2731,2731,2731
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1876,1876,1880,1880,1880,1881,1881,1881,1881,1881

Reading deaths csv file and displaying the deaths dataframe

In [5]:
covid_deaths = pd.read_csv("../../../data/Stage_1/covid_deaths_usafacts.csv")
covid_deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

In [6]:
covid_deaths = covid_deaths[covid_deaths['County Name'] != 'Statewide Unallocated']
covid_deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,260,260,260,260,260,261,261,261,261,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

In [7]:
covid_deaths['County Name'] = covid_deaths['County Name'].str.strip()
covid_deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,260,260,260,260,260,261,261,261,261,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

Reading population csv file and displaying the population dataframe

In [8]:
covid_county_population = pd.read_csv("../../../data/Stage_1/covid_county_population_usafacts.csv")
covid_county_population

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [9]:
covid_county_population = covid_county_population[covid_county_population['County Name'] != 'Statewide Unallocated']
covid_county_population

      countyFIPS        County Name State  population
1           1001     Autauga County    AL       55869
2           1003     Baldwin County    AL      223234
3           1005     Barbour County    AL       24686
4           1007        Bibb County    AL       22394
5           1009      Blount County    AL       57826
...          ...                ...   ...         ...
3190       56037  Sweetwater County    WY       42343
3191       56039       Teton County    WY       23464
3192       56041       Uinta County    WY       20226
3193       56043    Washakie County    WY        7805
3194       56045      Weston County    WY        6927

[3145 rows x 4 columns]

In [10]:
covid_county_population['County Name'] = covid_county_population['County Name'].str.strip()
covid_county_population

      countyFIPS        County Name State  population
1           1001     Autauga County    AL       55869
2           1003     Baldwin County    AL      223234
3           1005     Barbour County    AL       24686
4           1007        Bibb County    AL       22394
5           1009      Blount County    AL       57826
...          ...                ...   ...         ...
3190       56037  Sweetwater County    WY       42343
3191       56039       Teton County    WY       23464
3192       56041       Uinta County    WY       20226
3193       56043    Washakie County    WY        7805
3194       56045      Weston County    WY        6927

[3145 rows x 4 columns]

In [11]:
covid_county_population = covid_county_population.drop('County Name',axis = 1)
covid_county_population

      countyFIPS State  population
1           1001    AL       55869
2           1003    AL      223234
3           1005    AL       24686
4           1007    AL       22394
5           1009    AL       57826
...          ...   ...         ...
3190       56037    WY       42343
3191       56039    WY       23464
3192       56041    WY       20226
3193       56043    WY        7805
3194       56045    WY        6927

[3145 rows x 3 columns]

Data types of covid_cases dataframe

In [12]:
covid_cases.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2023-01-12      int64
2023-01-13      int64
2023-01-14      int64
2023-01-15      int64
2023-01-16      int64
Length: 1095, dtype: object

Data types of covid_deaths dataframe

In [13]:
covid_deaths.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2023-01-12      int64
2023-01-13      int64
2023-01-14      int64
2023-01-15      int64
2023-01-16      int64
Length: 1095, dtype: object

Data types of county population dataframe

In [14]:
covid_county_population.dtypes

countyFIPS     int64
State         object
population     int64
dtype: object

Merging covid_cases with covid_deaths dataframes as cases_deaths dataframe on common columns countyFIPS, County Name, State, StateFIPS.

In [15]:
cases_deaths = pd.merge(covid_cases, covid_deaths, on = ["countyFIPS",'County Name', "State", "StateFIPS"])
cases_deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2023-01-07_y,2023-01-08_y,2023-01-09_y,2023-01-10_y,2023-01-11_y,2023-01-12_y,2023-01-13_y,2023-01-14_y,2023-01-15_y,2023-01-16_y
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,260,260,260,260,260,261,261,261,261,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3138,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3139,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3140,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3141,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

Merging cases_deaths with covid_county_population dataframe as super_covid19 dataframe on columns countyFIPS, State

In [16]:
super_covid19 = pd.merge(cases_deaths, covid_county_population, on = ["countyFIPS","State"])
super_covid19

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2023-01-08_y,2023-01-09_y,2023-01-10_y,2023-01-11_y,2023-01-12_y,2023-01-13_y,2023-01-14_y,2023-01-15_y,2023-01-16_y,population
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,55869
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,721,721,721,721,721,223234
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,24686
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,22394
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,260,260,260,260,261,261,261,261,261,57826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,42343
3138,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,23464
3139,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,20226
3140,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,7805
3141,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,6927

The super_covid19 dataframe is exported as super_covid19.csv file

In [17]:
super_covid19.to_csv("../../../data/Stage_1/super_covid19.csv", index = False)

In [18]:
covid_cases_long = pd.melt(covid_cases, id_vars = ['countyFIPS','County Name','State','StateFIPS'],var_name ='Dates', value_name = 'cases')
covid_cases_long

         countyFIPS        County Name State  StateFIPS       Dates  cases
0              1001     Autauga County    AL          1  2020-01-22      0
1              1003     Baldwin County    AL          1  2020-01-22      0
2              1005     Barbour County    AL          1  2020-01-22      0
3              1007        Bibb County    AL          1  2020-01-22      0
4              1009      Blount County    AL          1  2020-01-22      0
...             ...                ...   ...        ...         ...    ...
3427917       56037  Sweetwater County    WY         56  2023-01-16  12437
3427918       56039       Teton County    WY         56  2023-01-16  12045
3427919       56041       Uinta County    WY         56  2023-01-16   6333
3427920       56043    Washakie County    WY         56  2023-01-16   2731
3427921       56045      Weston County    WY         56  2023-01-16   1881

[3427922 rows x 6 columns]

In [19]:
covid_deaths_long = pd.melt(covid_deaths, id_vars = ['countyFIPS','County Name','State','StateFIPS'],var_name ='Dates', value_name = 'deaths')
covid_deaths_long

         countyFIPS        County Name State  StateFIPS       Dates  deaths
0              1001     Autauga County    AL          1  2020-01-22       0
1              1003     Baldwin County    AL          1  2020-01-22       0
2              1005     Barbour County    AL          1  2020-01-22       0
3              1007        Bibb County    AL          1  2020-01-22       0
4              1009      Blount County    AL          1  2020-01-22       0
...             ...                ...   ...        ...         ...     ...
3427917       56037  Sweetwater County    WY         56  2023-01-16     136
3427918       56039       Teton County    WY         56  2023-01-16      16
3427919       56041       Uinta County    WY         56  2023-01-16      43
3427920       56043    Washakie County    WY         56  2023-01-16      47
3427921       56045      Weston County    WY         56  2023-01-16      22

[3427922 rows x 6 columns]

In [20]:
cases_deaths_long = pd.merge(covid_cases_long, covid_deaths_long, on = ["countyFIPS",'County Name', "State", "StateFIPS",'Dates'])
cases_deaths_long

,countyFIPS,County Name,State,StateFIPS,Dates,cases,deaths
0,1001,Autauga County,AL,1,2020-01-22,0,0
1,1003,Baldwin County,AL,1,2020-01-22,0,0
2,1005,Barbour County,AL,1,2020-01-22,0,0
3,1007,Bibb County,AL,1,2020-01-22,0,0
4,1009,Blount County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3427917,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3427918,56039,Teton County,WY,56,2023-01-16,12045,16
3427919,56041,Uinta County,WY,56,2023-01-16,6333,43
3427920,56043,Washakie County,WY,56,2023-01-16,2731,47
3427921,56045,Weston County,WY,56,2023-01-16,1881,22

In [21]:
super_covid19_long = pd.merge(cases_deaths_long, covid_county_population, on = ["countyFIPS","State"])
super_covid19_long

,countyFIPS,County Name,State,StateFIPS,Dates,cases,deaths,population
0,1001,Autauga County,AL,1,2020-01-22,0,0,55869
1,1001,Autauga County,AL,1,2020-01-23,0,0,55869
2,1001,Autauga County,AL,1,2020-01-24,0,0,55869
3,1001,Autauga County,AL,1,2020-01-25,0,0,55869
4,1001,Autauga County,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...
3427917,56045,Weston County,WY,56,2023-01-12,1881,22,6927
3427918,56045,Weston County,WY,56,2023-01-13,1881,22,6927
3427919,56045,Weston County,WY,56,2023-01-14,1881,22,6927
3427920,56045,Weston County,WY,56,2023-01-15,1881,22,6927
3427921,56045,Weston County,WY,56,2023-01-16,1881,22,6927

In [22]:
super_covid19_long.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
Dates          object
cases           int64
deaths          int64
population      int64
dtype: object

In [23]:
super_covid19_long.to_csv("../../../data/Stage_1/super_covid19_long.csv", index = False)